@page
@inject StateFactory StateFactory
@using Economy.AiInterface.Scope
@model Economy.Web.Pages.BasicsModel
@{
    ViewData["Title"] = "Basics";
    var state = await StateFactory.Get();
}

<h3>Wallets</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Wallet</th>
                <th>Latest Inventory</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (wallet, audit) in Model.Wallets)
            {
                <tr>
                    <td>@(wallet.ToDetails(state.Repositories))</td>
                    <td>@(audit?.Amounts.ToDetails(state.Repositories))</td>
                </tr>
            }
            <tr>
                <td><strong>Total</strong></td>
                <td>@Model.Total.ToDetails(state.Repositories)</td>
            </tr>
        </tbody>
    </table>
</div>

<h3>Currencies</h3>
<ul>
    @foreach (var entity in state.Repositories.Currencies.GetAll().OrderBy(x => x.Id))
    {
        <li>
            @(entity.ToDetails(state.Repositories))
        </li>
    }
</ul>

<h3>Categories</h3>
<ul>
    @foreach (var entity in state.Repositories.Categories.GetAll().OrderBy(x => x.Id))
    {
        <li>
            @(entity.ToDetails(state.Repositories))
        </li>
    }
</ul>