@page
@using Economy.AiInterface.Scope
@model Economy.Web.Pages.OverviewModel
@inject StateFactory StateFactory

@{
    ViewData["Title"] = "Overview";
    var state = await StateFactory.Get();
}
<h1>@ViewData["Title"]</h1>

<h2>Wallets</h2>
@foreach (var entity in state.Repositories.Wallets.GetAll())
{
    <p>
        @(entity.ToDetails(state.Repositories))
    </p>
}

<h2>Currencies</h2>
@foreach (var entity in state.Repositories.Currencies.GetAll())
{
    <p>
        @(entity.ToDetails(state.Repositories))
    </p>
}

<h2>Events</h2>
@foreach (var entity in state.Repositories.Events.GetAll())
{
    <p>
        @(entity.ToDetails(state.Repositories))
    </p>
}

<h2>Categories</h2>
@foreach (var entity in state.Repositories.Categories.GetAll())
{
    <p>
        @(entity.ToDetails(state.Repositories))
    </p>
}

<h2>Wallet Audits</h2>
@foreach (var entity in state.Repositories.WalletAudits.GetAll())
{
    <p>
        @(entity.ToDetails(state.Repositories))
    </p>
}

<h2>Budgets</h2>
@foreach (var entity in state.Repositories.Budgets.GetAll())
{
    <p>
        @(entity.ToDetails(state.Repositories))
    </p>
}

<h2>Actual Transactions</h2>
@foreach (var entity in state.Repositories.ActualTransactions.GetAll())
{
    <p>
        @(entity.ToDetails(state.Repositories))
    </p>
}

<h2>Planned Transactions</h2>
@foreach (var entity in state.Repositories.PlannedTransactions.GetAll())
{
    <p>
        @(entity.ToDetails(state.Repositories))
    </p>
}

<h2>Conversions</h2>
@foreach (var entity in state.Repositories.Conversions.GetAll())
{
    <p>
        @(entity.ToDetails(state.Repositories))
    </p>
}

<h2>Transfers</h2>
@foreach (var entity in state.Repositories.Transfers.GetAll())
{
    <p>
        @(entity.ToDetails(state.Repositories))
    </p>
}
