@page
@using Economy.AiInterface.Scope
@model Economy.Web.Pages.OverviewModel
@inject StateFactory StateFactory

@{
    ViewData["Title"] = "Overview";
    var state = await StateFactory.Get();
}
<h1>@ViewData["Title"]</h1>

<h3>Events</h3>
@foreach (var entity in state.Repositories.Events.GetAll())
{
    <p>
        @(entity.ToDetails(state.Repositories))
    </p>
}

<h3>Wallet Audits</h3>
@foreach (var entity in state.Repositories.WalletAudits.GetAll())
{
    <p>
        @(entity.ToDetails(state.Repositories))
    </p>
}

<h3>Plans</h3>
@foreach (var entity in state.Repositories.Plans.GetAll())
{
    <p>
        @(entity.ToDetails(state.Repositories))
    </p>
}

<h3>Transactions</h3>
@foreach (var entity in state.Repositories.Transactions.GetAll())
{
    <p>
        @(entity.ToDetails(state.Repositories))
    </p>
}

<h3>Conversions</h3>
@foreach (var entity in state.Repositories.Conversions.GetAll())
{
    <p>
        @(entity.ToDetails(state.Repositories))
    </p>
}

<h3>Transfers</h3>
@foreach (var entity in state.Repositories.Transfers.GetAll())
{
    <p>
        @(entity.ToDetails(state.Repositories))
    </p>
}
