@page
@using Economy.Memory.Tools
@using Economy.Memory.Models.State
@using Economy.Memory.Models
@model Economy.Web.Pages.Report2Model
@{
    ViewData["Title"] = "Report 2";
    var balance = new EquivalentAmount();
}

<form method="get">
    <button type="submit" class="btn btn-primary mt-2">View</button>
</form>

<div class="mt-4">
    <h4>Total Balance: <span class="data-record">@Model.TotalEquivalent.ToDetails()</span></h4>
</div>

<div class="table-responsive table-fixed-header omt-4">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Income</th>
                <th>Expense</th>
                <th>Details</th>
                <th>Equivalent</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model.State.Repositories.Transactions.GetAll().Where(x => x.Actual != null).OrderBy(x => x.Actual!.DateAndTime))
            {
                <tr>
                    <td class="data-info">@transaction.Actual!.DateAndTime.WithDayOfWeek()</td>
                    <td class="data-record">
                        @if (transaction.Type == TransactionType.Income)
                        {
                            <span>@transaction.Actual.Amounts.ToDetails(Model.State.Repositories)</span>
                        }
                    </td>
                    <td class="data-record">
                        @if (transaction.Type == TransactionType.Expense)
                        {
                            <span>@transaction.Actual.Amounts.ToDetails(Model.State.Repositories)</span>
                        }
                    </td>
                    <td class="data-info">
                        @transaction.ToDetailsNoAmountsOrType(Model.State.Repositories)
                    </td>
                    <td class="data-record">@transaction.Actual.Amounts.ToEquivalentAmount(Model.State.Repositories).ToDetails()</td>
                    <td class="data-record">
                        @{
                            balance = balance.Add(transaction.Actual.Amounts.ToEquivalentAmount(Model.State.Repositories), transaction.Type == TransactionType.Expense);
                        }
                        <span>@balance.ToDetails()</span>
                    </td>
                </tr>
            }
            <tr>
                <td><strong>Total: </strong></td>
                <td class="data-info">@Model.TotalIncomesEquivalent.ToDetails()</td>
                <td class="data-info">@Model.TotalExpensesEquivalent.ToDetails()</td>
                <td></td>
                <td></td>
                <td class="data-info">@Model.TotalEquivalent.ToDetails()</td>
            </tr>
        </tbody>
    </table>
</div>