@using Economy.Web.Tools
@using Economy.AiInterface.Scope
@model Report1Model.MatchBase
@inject StateFactory StateFactory

@{
    var state = await StateFactory.Get();
}

@switch (Model)
{
    case Report1Model.PlannedAndActualMatch match:
        <span>@Constants.Actual @match.Actual.Amounts.ToDetails(state.Repositories) / @Constants.Plan @match.Planned.Amounts.ToDetails(state.Repositories)</span>
        break;
    case Report1Model.ActualMatch match:
        <span>@Constants.Actual @match.Actual.Amounts.ToDetails(state.Repositories)</span>
        break;
    case Report1Model.PlannedMatch match:
        <span>@Constants.Plan @match.Planned.Amounts.ToDetails(state.Repositories)</span>
        break;
    case Report1Model.PlannedRemainderMatch match:
        <span>@Constants.Remainder @match.Remainder.ToDetails(state.Repositories) / @Constants.Plan @match.Planned.Amounts.ToDetails(state.Repositories)</span>
        break;
}

<span>@Model.Transaction.ToDetailsNoAmountsOrType(state.Repositories)</span>