@model Economy.Web.Pages.WalletsModel
@using Economy.Engine.Services
@using Economy.Memory.Containers.State
@using Economy.Memory.Models.State.Root
@using Economy.Memory.Tools
@inject IStateFactory<State> StateFactory

@{
    var state = await StateFactory.GetState();
}

<input type="hidden" id="latestRevision" value="@state.Events.Count" />

<div>
    <table class="table">
        <thead>
        <tr>
            <th>Wallet</th>
            <th>Latest Inventory</th>
            <th>Equivalent</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var (wallet, audit) in Model.Wallets.OrderBy<(Wallet wallet, WalletAudit? audit), IComparable>(x => Model.Ordering switch
                  {
                      WalletsModel.WalletsOrdering.Id => x.wallet.Id,
                      WalletsModel.WalletsOrdering.IdDesc => -x.wallet.Id,
                      WalletsModel.WalletsOrdering.Name => x.wallet.Name,
                      WalletsModel.WalletsOrdering.Total => x.audit?.Amounts.ToEquivalentAmount(state.Repositories).Amount,
                      WalletsModel.WalletsOrdering.TotalDesc => -x.audit?.Amounts.ToEquivalentAmount(state.Repositories).Amount,
                      WalletsModel.WalletsOrdering.LastAudit => x.audit?.CheckDateAndTime,
                      WalletsModel.WalletsOrdering.LastAuditDesc => DateTime.MaxValue - x.audit?.CheckDateAndTime,
                      _ => throw new ArgumentOutOfRangeException()
                  }))
        {
            <tr>
                <td>@wallet.ToDetails(state.Repositories)</td>
                <td class="data-record">@(audit?.Amounts.ToDetails(state.Repositories))</td>
                <td class="data-record">@(audit?.Amounts.ToEquivalentAmount(state.Repositories).ToDetails())</td>
            </tr>
        }
        <tr>
            <td><strong>Total</strong></td>
            <td class="data-record">@Model.Total.ToDetails(state.Repositories)</td>
            <td class="data-record">@Model.Total.ToEquivalentAmount(state.Repositories).ToDetails()</td>
        </tr>
        </tbody>
    </table>
</div>