@page
@model Economy.Web.Pages.PlansModel
@using Economy.AiInterface.Scope
@inject StateFactory StateFactory

@{
    var state = await StateFactory.Get();
    var planTree = state.Repositories.Plans.GetPlanTree();
}

<div class="table-responsive table-fixed-header overflow-visible">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Plan ID</th>
                <th>Date Range</th>
                <th>Schedule</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (plan, depth) in planTree)
            {
                <tr>
                    <td style="padding-left:@(depth * 20)px;">
                        @plan.Id. @plan.Name
                        @if (plan.SpecialNotes != null)
                        {
                            <div>@plan.SpecialNotes</div>
                        }
                    </td>
                    <td class="data-record"><span class="@(plan.StartDate.HasValue ? "" : "text-muted")">@(plan.StartDate?.ToString() ?? "-- -- ----")</span> - <span class="@(plan.FinishDate.HasValue ? "" : "text-muted")">@(plan.FinishDate?.ToString() ?? "-- -- ----")</span></td>
                    <td>@plan.Schedule</td>
                    <td class="data-record">
                        @if (plan.Volume != null)
                        {
                            <span>@plan.Volume?.ToDetails(state.Repositories)</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>