@page
@model Economy.Web.Pages.BudgetsModel
@using Economy.AiInterface.Scope
@inject StateFactory StateFactory

@{
    var state = await StateFactory.Get();
    var budgetTree = state.Repositories.Budgets.GetBudgetTree();
}

<div class="table-responsive table-fixed-header overflow-visible">
    <table class="table table-sm">
        <thead>
            <tr>
                <th style="width: 20%;">Budget ID</th>
                <th style="width: 40%;">Date Range</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (budget, depth) in budgetTree)
            {
                <tr>
                    <td style="padding-left:@(depth * 20)px;">@budget.Id. @budget.Name</td>
                    <td><code><span class="@(budget.StartDate.HasValue ? "" : "text-muted")">@(budget.StartDate?.ToString() ?? "-- -- ----")</span> - <span class="@(budget.FinishDate.HasValue ? "" : "text-muted")">@(budget.FinishDate?.ToString() ?? "-- -- ----")</span></code></td>
                </tr>
            }
        </tbody>
    </table>
</div>